@model StoryBoard.ViewModels.StoryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<em>Description: @Model.Description</em>
<br/>
<em>Posted On: @Model.PostedOn</em>
<br /><br /><br />
<p>@Model.Content</p>